.filters {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se acomoden en varias líneas
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 100%; // Se asegura de que no sobrepase el ancho disponible

    input, select {
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        font-size: 1rem;
        outline: none;
        transition: all 0.3s ease-in-out;
        max-width: 100%; // Evita que los elementos sean demasiado grandes

        &:focus {
            box-shadow: 0 0 5px rgba(205, 81, 255, 0.8);
        }
    }

    input {
        width: 250px;
    }

    select {
        background-color: rgba(205, 81, 255, 0.1);
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column; // Acomoda los elementos en columna
        align-items: stretch; // Asegura que ocupen el ancho disponible
        input {
            width: 100%; // Ocupa todo el ancho disponible
        }
    }
}
